
<div>
    This page will display data from the database using Entity Framework Core. It will also demonstrate the use of Razor Pages and how to handle user input through forms. The page will be styled using Bootstrap for a responsive design.
</div>

@{
    Layout = "_Layout";
}
