@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        <a asp-page="/UserModel/User" asp-route-id="1" class="btn btn-primary">
            Load User 1
        </a>

    </p>
    <p>
        <a asp-page="/UserModel/UserWithInfo" asp-route-id="1" class="btn btn-primary">
            Load User with info 1
        </a>

    </p>
</div>